@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    color:#646A69;
}
/* .dot {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: #929C9A;
    display: block;
} */
#exe1{
    background: url('./images/executive1.png') top center no-repeat;
    background-size: cover;
}
#exe2{
    background: url('./images/executive2.png') top center no-repeat;
    background-size: cover;
}
#exe3{
    background: url('./images/executive3.png') top center no-repeat;
    background-size: cover;
}
#exe4{
    background: url('./images/executive4.png') top center no-repeat;
    background-size: cover;
}
#exe5{
    background: url('./images/executive5.png') top center no-repeat;
    background-size: cover;
}

/* Accordion */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    /* background-color: #eee;
    color: #444; */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    /* border: none; */
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  /* .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  } */
  .panel {
    /* padding: 0 18px; */
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  .slick-next:before, .slick-prev:before {
    color:#000000;
  }

  .rating i{
    color: #BEF264;
  }
  .slick-slide {
    margin:0 10px;
  }
  .slick-next:before, .slick-prev:before {
    font-family: auto;
    content: '';
  }
  .slick-prev {
    left: auto;
}
  .slick-next {
    right: 0;
    background: url('../dist/images/big-arrow-right.png') top center no-repeat;
    background-size: cover;
  }
  .slick-next:hover, .slick-next.slick-arrow.slick-disabled {
    background: url('../dist/images/big-arrow-right.png') top center no-repeat;
    background-size: cover;
  }
  .slick-prev {
    right: 40px;
    background: url('../dist/images/big-arrow-left.png') top center no-repeat;
    background-size: cover;
  }
  .slick-prev:hover,  .slick-prev.slick-arrow.slick-disabled {
    background: url('../dist/images/big-arrow-left.png') top center no-repeat;
    background-size: cover;
  }
  .slick-next, .slick-prev {
    top:0;
    width:40px;
    height: 40px;
  }
  .slick-arrow.slick-disabled {
    opacity: 0.5;
    cursor:auto;
  }
  #customerReview {
    position: relative;
  }
  #review{
    position: relative;
    z-index: 2;
    background-color: #ffffff;
  }
  #bg-box {
    position: absolute;
    z-index: -22;
    width: 69%;
    height: 40vh;
    border: 1px solid #eee;
    background: #F5FAF9;
    border-radius: 10px;
    top: 35vh;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  summary {
    cursor: pointer;
  }

  .postContent {
    width:-webkit-fill-available;
  }